.button-container {
    margin: 40px;
    width: 400px;
    height: 300px;
    display: grid;
    place-items: center;
    border-radius: 20px;
    border: 10px solid #7f7f7f;
    background-color: #eeeeee;
}
.button-container-dark {
    margin: 40px;
    width: 400px;
    height: 300px;
    display: grid;
    place-items: center;
    border-radius: 20px;
    border: 10px solid #7f7f7f;
    background-color: #202020;
}

.btn1 {
    width: 100px;
    height: 100px;

    display: grid;
    place-items: center;

    /* border */
    border-radius: 50%;
    border: 6px solid #eeeeee;
    box-shadow: -5px -5px 8px #ffffffc7, 5px 5px 10px #a8a8a88e;
}

.btn1 .led {
    width: 15px;
    height: 15px;
    background-color: #005c00;
    border-radius: 50%;
}

/* after click button, this class will be added to the button */
.btn1-clicked {
    box-shadow: -5px -5px 8px #ffffffc7, 5px 5px 10px #a8a8a88e, inset 5px 6px 8px 2px #d4d4d4d5, inset -5px -5px 10px #ffffffc7;
}
.btn1-clicked .led {
    background-color: #00ff00;
    box-shadow: 0 0 4px 1px rgba(0, 255, 0, 0.507);
}

/* --------------------------------- */
/*              button2              */
.btn2 {
    width: 100px;
    height: 100px;

    display: grid;
    place-items: center;

    /* border */
    border-radius: 50%;
    border: 6px solid #202020;
    box-shadow: -5px -5px 8px #252525c7, 5px 5px 10px #0000008e;
}

.btn2 .led {
    width: 15px;
    height: 15px;
    background-color: #005c00;
    border-radius: 50%;
}

/* after click button, this class will be added to the button */
.btn2-clicked {
    box-shadow: -5px -5px 8px #252525c7, 5px 5px 10px #0000008e, inset 5px 6px 8px 2px #0000008f, inset -5px -5px 10px #2d2d2d7d;
}
.btn2-clicked .led {
    background-color: #00ff00;
    box-shadow: 0 0 4px 1px #00ff00, 0 0 20px #00ff00;
}
