@media screen and (max-width: 600px) {
    .title-container > h1 {
        font-size: 1.8rem;
    }
    .subtitle-container {
        font-size: 0.5rem;
    }

    .subtitle-container .tag-wrapper {
        display: block;
        width: auto;
        margin: 10px;
    }

    .title {
        transform: translateY(20%);
    }
}
