@media screen and (max-width: 600px) {
    .title-container > h1 {
        font-size: 1.8rem;
    }
    .subtitle-container {
        font-size: 0.5rem;
    }
    .subtitle-container p {
        display: block;
    }

    .subtitle-container .tag-wrapper {
        width: auto;
        display: block;
        margin-top: 1em;
    }

    .title {
        transform: translateY(20%);
    }
}
