* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --title-color: hsl(0, 0%, 92%);
    --tag-color-html: #ff7300;
    --tag-color-css: #006eff;
    --tag-color-js: #ffe600;
    --tag-color-python-y: #ffd43b;
    --tag-color-python-b: #306998;
}
::selection {
    background: hsla(188, 46%, 40%, 0.507);
}
@font-face {
    font-family: 'Fira Code Medium';
    src: url('../font/FiraCode-Medium.ttf');
}
body {
    overflow: hidden;
}
.main {
    background: hsl(0, 0%, 12%);
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}
.menu {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: 0.3s ease-in-out;
    place-items: center;
}
.menu-content {
    color: hsl(54, 100%, 50%);
    font-family: 'Fira Code Medium';
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.menu-button {
    z-index: 999;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 50px;
}
.menu-button-icon .top-side {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: white;
    top: 12px;
    left: 10px;
    transform-origin: left center;
    transition: 0.2s ease-in-out;
}
.menu-button-icon .bottom-side {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: white;
    top: 33px;
    left: 10px;
    transform-origin: left center;
    transition: 0.2s ease-in-out;
}

.title {
    color: var(--title-color);
    padding: 1rem;
    font-family: Fira Code Medium;
}
.title-container {
    display: flex;
    justify-content: center;
}
.title-container h1 {
    font-size: 3rem;
}
.title-content {
    letter-spacing: 0.15em;

    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(15, end) forwards;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.cursor {
    animation: cursor 1s step-end infinite;
}
@keyframes cursor {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--title-color);
    }
}

.subtitle-container {
    font-weight: 600;
    margin-top: 2em;
    font-size: 1rem;
    text-align: center;
}
.subtitle-container p {
    display: inline;
}
.subtitle-container .tag-wrapper {
    display: inline;
}
.subtitle-container span {
    user-select: none;
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    padding: 0.2em 0.4em;
}
.subtitle-container .html {
    border-color: var(--tag-color-html);
    box-shadow: 0 0 10px 2px var(--tag-color-html), inset 0 0 6px 1px var(--tag-color-html);
}
.subtitle-container .css {
    border-color: var(--tag-color-css);
    box-shadow: 0 0 10px 2px var(--tag-color-css), inset 0 0 6px 2px var(--tag-color-css);
}
.subtitle-container .js {
    border-color: var(--tag-color-js);
    box-shadow: 0 0 12px 0 var(--tag-color-js), inset 0 0 6px 1px var(--tag-color-js);
}
.subtitle-container .py {
    border-color: var(--tag-color-python-b);
    box-shadow: 5px 5px 8px -2px var(--tag-color-python-y), inset -4px -4px 4px -3px var(--tag-color-python-y), -5px -5px 8px -2px var(--tag-color-python-b),
        inset 3px 3px 4px 0px var(--tag-color-python-b);
    border-bottom-color: var(--tag-color-python-y);
    border-right-color: var(--tag-color-python-y);
}
