* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --title-color: hsl(0, 0%, 92%);
}
@font-face {
    font-family: 'Fira Code Medium';
    src: url('../font/FiraCode-Medium.ttf');
}

.main {
    background: hsl(0, 0%, 20%);
    display: grid;
    place-items: center;
    height: 100vh;
}

.title {
    color: var(--title-color);
    padding: 100px;
    width: auto;
    font-family: Fira Code Medium;
}
.title-container {
    display: flex;
    justify-content: center;
}
.title-container h1 {
    font-size: 3rem;
}
.title-content {
    letter-spacing: 0.15em;

    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(15, end) forwards;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.cursor {
    animation: cursor 1s step-end infinite;
}
@keyframes cursor {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--title-color);
    }
}

.subtitle-container {
    font-weight: 600;
    margin-top: 2em;
    font-size: 1rem;
    text-align: center;
}
.subtitle-container p {
    display: inline;
}
.subtitle-container .tag-wrapper {
    display: inline;
}
.subtitle-container span {
    user-select: none;
    border-radius: 4px;
    padding: 0.2em 0.4em;
}
.subtitle-container .html {
    background-color: #ff7300;
    color: #000052;
}
.subtitle-container .css {
    background-color: rgb(0, 0, 194);
    color: #ffee00;
}
.subtitle-container .js {
    background-color: rgb(255, 230, 0);
    color: black;
}
.subtitle-container .py {
    background-color: #306998;
    color: #ffd43b;
}
