@media screen and (max-width: 600px) {
    .main-menu {
        z-index: 127;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 30px;
        place-items: center;
    }
    .main-menu .auto-mode-btn {
        grid-column: 2 / span 1;
    }
    .main-menu div {
        display: grid;
        place-items: center;
    }
    .mode-btn {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        font-size: 2rem;
    }
    .auto-mode-btn {
        background: var(--auto-mode-btn-color);
    }
    .menual-mode-btn {
        background: var(--menual-mode-btn-color);
    }
}
