:root {
    --auto-mode-btn-color: hsl(0, 100%, 72%);
    --auto-mode-btn-color-touched: hsl(0, 59%, 60%);
    --menual-mode-btn-color: hsl(182, 100%, 72%);
    --menual-mode-btn-color-touched: hsl(182, 49%, 55%);
}
* {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 600px) {
    .win {
        width: 60vw;
        height: 60vh;
        padding: 20vh 20vw;
        position: absolute;
        background-color: white;
    }
    .mode-page {
        width: 80vw;
        height: 80vh;
        padding: 10vh 10vw;
        position: absolute;
        background-color: white;
        display: grid;
        place-items: center;
    }
    .setting-panel {
        display: grid;
        justify-items: center;
    }
}
