:root {
    --auto-mode-btn-color: hsl(0, 100%, 72%);
    --auto-mode-btn-color-touched: hsl(0, 59%, 60%);
    --menual-mode-btn-color: hsl(182, 100%, 72%);
    --menual-mode-btn-color-touched: hsl(182, 49%, 55%);
    --btn-color-y: hsl(113, 100%, 71%);
    --btn-color-n: hsl(0, 100%, 71%);
}
* {
    margin: 0;
    padding: 0;
}
input {
    text-align: center;
}
@media screen and (max-width: 600px) {
    .win {
        width: 60vw;
        height: 60vh;
        padding: 20vh 20vw;
        position: absolute;
        background-color: white;
    }
    .mode-page {
        width: 80vw;
        height: 80vh;
        padding: 10vh 10vw;
        position: absolute;
        background-color: white;
        display: grid;
        place-items: center;
    }
    .setting-panel {
        width: 80vw;
        height: 60vh;
        display: grid;
        place-items: center;
        row-gap: 20px;
    }
    .setting-panel .setting-panel-title {
        font-size: 2rem;
    }
    .setting-panel .white-noise {
        display: grid;
        grid-template-columns: 2fr 1fr;
        place-items: center;
        column-gap: 20px;
    }
    .setting-panel .chime-sound {
        display: grid;
        grid-template-columns: 2fr 1fr;
        place-items: center;
        column-gap: 20px;
    }
    .setting-panel .if-btn {
        display: inline-block;
        border-radius: 5px;
        width: 60px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: var(--btn-color-y);
    }
    .setting-panel .count-input {
        width: 4rem;
    }
}
